<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.feedapi.file.mapper.FileMapper">

    <insert id="addFileInfo" parameterType="org.feedapi.file.dto.FileDTO">
        <selectKey order="BEFORE" resultType="Integer" keyProperty="file_no">
            SELECT FILE_ATTACH_SEQ.NEXTVAL FROM DUAL
        </selectKey>

        INSERT INTO file_attach (file_no
                                 , TARGET_TYPE
                                 , TARGET_ID
                                 , ORIGIN_NAME
                                 , SAVED_NAME
                                 , FILE_PATH
                                 , REG_DATE)
        VALUES (#{file_no}
                , #{targetType}
                , #{targetId}
                , #{originName}
                , #{savedName}
                , #{filePath}
                , SYSDATE)
    </insert>

    <select id="getFileCnt" resultType="Integer" parameterType="Integer">
        SELECT COUNT(*) AS fileCnt
        FROM FILE_ATTACH
        WHERE TARGET_ID = #{no}
    </select>

    <select id="getFileList" resultType="org.feedapi.file.dto.FileDTO" parameterType="Integer">
        SELECT FILE_NO AS file_no
             , ORIGIN_NAME AS originName
             , SAVED_NAME AS savedName
             , FILE_PATH AS filePath
             , TARGET_TYPE AS targetType
             , TARGET_ID AS targetId
        FROM FILE_ATTACH
        WHERE TARGET_ID = #{no}
    </select>

    <select id="getFileInfo" resultType="org.feedapi.file.dto.FileDTO" parameterType="Integer">
        SELECT FILE_NO AS file_no
             , ORIGIN_NAME AS originName
             , SAVED_NAME AS savedName
             , FILE_PATH AS filePath
             , TARGET_TYPE AS targetType
             , TARGET_ID AS targetId
        FROM FILE_ATTACH
        WHERE FILE_NO = #{no}
    </select>

</mapper>