<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.feedapi.notice.mapper.NoticeMapper">

    <select id="getNotice" parameterType="org.feedapi.notice.dto.NoticeDTO" resultType="org.feedapi.notice.dto.NoticeDTO">
        SELECT NO
               , TITLE
               , CONTENT
               , WRITER
               , TO_CHAR(REG_DATE, 'YYYY-MM-DD') AS REG_DATE
        FROM NOTICE
        WHERE 1=1
        <if test="'searchTitle'.equals(searchType)">
            AND TITLE LIKE '%'||#{searchKeyword}||'%'
        </if>
        <if test="'searchContent'.equals(searchType)">
            AND CONTENT LIKE '%'||#{searchKeyword}||'%'
        </if>
        <if test="'searchWriter'.equals(searchType)">
            AND WRITER LIKE '%'||#{searchKeyword}||'%'
        </if>
        ORDER BY NO DESC
        OFFSET (#{page} - 1) * 10 ROWS FETCH NEXT 10 ROWS ONLY
    </select>

    <select id="getNoticeCnt" parameterType="org.feedapi.notice.dto.NoticeDTO" resultType="Integer">
        SELECT COUNT(*) AS cnt
        FROM NOTICE
        WHERE 1=1
        <if test="'searchTitle'.equals(searchType)">
            AND TITLE LIKE '%'||#{searchKeyword}||'%'
        </if>
        <if test="'searchContent'.equals(searchType)">
            AND CONTENT LIKE '%'||#{searchKeyword}||'%'
        </if>
        <if test="'searchWriter'.equals(searchType)">
            AND WRITER LIKE '%'||#{searchKeyword}||'%'
        </if>
    </select>

    <insert id="addNotice" parameterType="org.feedapi.notice.dto.AddNoticeDTO">
        <selectKey order="BEFORE" resultType="Integer" keyProperty="noticeNo">
            SELECT NOTICE_SEQ.NEXTVAL FROM DUAL
        </selectKey>

        INSERT INTO notice (no
                            , title
                            , content
                            , writer
                            , reg_date)
        VALUES(#{noticeNo}
               , #{title}
               , #{content}
               , #{writer}
               , SYSDATE)
    </insert>

    <select id="getDetailNotice" parameterType="Integer" resultType="org.feedapi.notice.dto.NoticeResDTO">
        SELECT NO
               , TITLE
               , CONTENT
               , WRITER
               , REG_DATE
        FROM NOTICE
        WHERE NO = #{no}
    </select>

    <update id="updateNotice" parameterType="org.feedapi.notice.dto.UpdateNoticeDTO">
        UPDATE NOTICE
        SET NO = #{no}
            , TITLE = #{title}
            , CONTENT = #{content}
        WHERE NO = #{no}
    </update>

    <delete id="deleteNotice" parameterType="Integer">
        DELETE FROM NOTICE
        WHERE NO = #{no}
    </delete>

</mapper>